<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
        <title>PocketURL</title>
</head>

<body>
    <!-- Loading GIF till the page loads -->
    <%- include('partials/loading') %>
        <!-- Main Home Page Navbar -->
        <%- include('partials/navbar') %>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <br><br>
                        <h1><b>Contact Us</b></h1>
                        <p class="lead">PocketURL | Urls on your fingertip.</p>

                        <hr class="my-4">

                        <p>PocketURL is a URL shortener with amazing features. PocketURL PRO allows you to manage
                            your URLs with an ease. </p>
                        <br>
                        

                        <!-- <a href="" class="bg-red btn btn-lg text-white me-4 mt-4">My Dashboard <i class="fas fa-link"></i></a> -->
                    </div>
                    
                </div>
            </div>

            <div class="container mx-auto m-5 bg-lightBlue">
                <div class="col-md-6 mx-auto p-1 pt-5 pb-5">
                        <h3 class="text-blue text-center">Connect With Me</h3>
                        <br>
                        <div class="card mx-auto" style="width: 18rem;">
                            <img src="https://raw.githubusercontent.com/shekhar316/ImageHosting/main/ShekharSaxena.JPG" class="card-img-top mx-auto" alt="...">
                            <div class="card-body">
                              <h5 class="card-title text-center">Shekhar Saxena</h5>
                              <p class="card-text text-center">shekharsaxena316@gmail.com <br>Contact No: +91-9412446081 </p>
                  
                            </div>
                            <div class="social-icons text-center">
                                <a href="https://wa.me/+919412446081"><i class="fab fa-whatsapp text-blue"></i></a>
                                <a href="https://www.linkedin.com/in/shekharsaxena316"><i class="fab fa-linkedin-in text-blue"></i></a>
                                <a href="https://github.com/shekhar316"><i class="fab fa-github text-blue"></i></a>
                                <a href="https://www.facebook.com/shekhar.saxena.71216/"><i class="fab fa-facebook text-blue"></i></a>
                                <a href="https://twitter.com/SHEKHAR15172673"><i class="fab fa-twitter text-blue"></i></a>
                            </div>
                            <br>
                        </div>
                </div>
            </div>

            <div class="bg-black">
                <p class="m-0 text-center p-3 text-white"><b>&copy; PocketURL</b></p>
            </div>
    
</body>

</html>